{
    "extends": "eslint:recommended",
    "plugins": [
        "react"
    ],
     "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "no-unused-vars": 1,
        "eqeqeq": [2, "smart"],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-var": 2,
        "no-console": 0,
        "no-debugger": 0,
        "quotes": [2,"double"],
        "linebreak-style": [2,"unix"],
        "semi": [2,"always"],
        "react/jsx-boolean-value": [1, "always"],
        "react/jsx-curly-spacing": [1, "never"],
        "react/jsx-handler-names": 1,
        "react/jsx-indent-props": [1, 4],
        "react/jsx-indent": [1, 4],
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": [1, {"maximum": 5}],
        "react/jsx-no-bind": 1,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 2,
        "react/jsx-pascal-case": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-danger": 1,
        "react/no-deprecated": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-is-mounted": 1,
        "react/no-multi-comp": [1, {"ignoreStateless": true}],
        "react/no-set-state": 0,
        "react/no-string-refs": 1,
        "react/no-unknown-property": 1,
        "react/prefer-es6-class": 1,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 1,
        "react/require-extension": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "react/wrap-multilines": 1
    },
    "globals": {
        "React": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },

    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },

}
